[MASTER]

load-plugins=pylint.extensions.mccabe
ignore-patterns=(.)*_test\.py,test_(.)*\.py

[MESSAGE CONTROL]

disable=missing-module-docstring,
        consider-iterating-dictionary,
        missing-function-docstring,
        missing-class-docstring,
        invalid-name,
        too-few-public-methods

[BASIC]

include-naming-hint=no
attr-naming-style=snake_case
argument-naming-style=snake_case